<div class="search-container">
    <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchQuery">
    <button class="search-button" (click)="onSearchClick()">Search</button>
</div>

<div class="results-container" *ngIf="searchResults">
    <h2>Search Results:</h2>
    <ul>
      <li *ngFor="let result of searchResults | keyvalue; let i = index">
        <strong>{{ result.key }}</strong>: {{ result.value }}
        <input type="text" class="add-input" [(ngModel)]="textInput[i]">
        <button class="add-button" (click)="onAddButtonClick(result.key, result.value, textInput[i])">+</button>
      </li>
    </ul>
  </div>